<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>Try-On Test Page</title>
    </head>
    <body>
        <form action="http://202.31.200.237:2010/img_upload" method="POST" enctype="multipart/form-data">
            <input type="file" name="img_file"/>
            <input type="text" id="clothes" name="clothes"/>
            <input type="submit"/>
        </form>
    </body>
</html>
